<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE suite SYSTEM "http://testng.org/testng-1.0.dtd">
<suite name="Suite" verbose="1" parallel="tests" thread-count="2">
    <parameter name="frameworkProperties" value="/src/main/resources/framework.properties"/>
    <parameter name="skip" value="true" />

    <!--<test name="Demo">-->
        <!--<classes>-->
            <!--<class name="org.castlight.tests.CastLight" />-->
        <!--</classes>-->
    <!--</test>-->

    <packages>
        <package name="org.isdb.tests.*"/>
    </packages>

    <test name="Parallel" preserve-order="true">
        <classes>
            <class name="org.isdb.tests.ExtractSongInfo" />
        </classes>
    </test>
</suite>
