target
work

# IntelliJ project files 
*.iml
*.iws
*.ipr
.idea
*.emi
*.imi
out
logs


# eclipse project file
.settings
.classpath
.project
build

# vim
*~


!*.zip


#old ones
.DS_Store
*.class
.gradle/
reports/
results/
test-output/
build/
lib/
*.log
.idea
out/
logs/
*.ipr
*.hprof
.git - Copy/
/bin
